.section-skills {
  margin-top: 5rem;
  min-height: 50rem;
  border: 2px solid #1f1f1f;
  border-radius: 2.4rem;
  padding: 2rem;
}
.title {
  text-align: center;
  background-color: #1a1a1a;
  border-radius: 1.6rem;
  padding: 2rem;
  height: 16rem;
}
.title span {
  display: inline-block;
  font-size: 2.6rem;
  padding: 1rem;
  border: 2px solid #1f1f1f;
  border-radius: 1rem;
  color: #f9efec;
}
.title h2 {
  font-size: 4rem;
  color: #f9efec;
  font-weight: 600;
  line-height: 150%;
}
.skills-container {
  display: flex;
  gap: 2rem;
  margin-top: 8rem;
  flex-wrap: wrap;
}

.skills-container .item {
  width: calc((100% - 6rem) / 4);
  padding: 6rem 4rem;
  border-radius: 1.4rem;
  background-color: #1a1a1a;
}
.line-parameter {
  margin-top: 6rem;
}
.line-parameter p {
  text-align: right;
  font-size: 2.8rem;
  color: #f9efec;
  padding-right: 2rem;
}
.skills-container .item .progress {
  width: 100%;
  height: 1rem;
  background-color: #e5e7eb;
  border-radius: 999px;
  margin-top: 1rem;
}
.skills-container .item .progress-fill {
  border-radius: 999px;
  height: 100%;
}
.item-logo {
  display: flex;
  align-items: center;
}
.item-logo i {
  font-size: 6rem;
}
.item-logo span {
  color: #f9efec;
  font-size: 4.8rem;
  line-height: 100%;

  font-weight: 300;
}
