:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
}
.container {
  max-width: 182rem;
  margin-left: auto;
  margin-right: auto;
}
