*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #0f0f0f;
  padding-top: calc(7.2rem + 3.2rem + 2.4rem + 2.4rem);
}

html {
  font-size: 62.5%;
}
